table, th, td{
    border: 2px solid black;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5vw;
    margin-top: 10vh;
    width: 70vw;
}

.stats h1{
    font-size: 4vh;
    font-weight: 400;
}

h1{
    margin-left: 5vw;
    font-size: 4vh;
    font-weight: 400;
}